section h1 {
  color: #242424;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 67px;
  margin-bottom: 50px;
}

.caseStudy-con {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}
.caseStudy-img-con {
  width: 399px;
  height: 399px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.caseStudy-img-con img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 700px) {
  .caseStudy-con {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 35%;
    row-gap: 80px;
  }
  .caseStudy-img-con {
    width: 300px;
    height: 300px;
    position: relative;
  }
}
@media screen and (min-width: 1000px) {
  .caseStudy-con {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 35%;
  }
}
